# Sets

Sets are an unordered collection of *unique* elements. We can construct them by using the set() function.

In [10]:
s=set()
# s = {1,2,3,2} # A set is made, following the set condition and duplicate 2 is removed.

{1, 2, 3}

**Note:** \
{} is an empty dict (not an empty set).\
set() is an empty set.

We can cast a list with multiple repeat elements to a set to get the unique elements. For example:

In [17]:
# Create a list with repeats
list1 = [1,1,2,2,3,4,5,6,1,1]

In [18]:
# Cast as set to get unique values
set(list1)

{1, 2, 3, 4, 5, 6}

Note the curly brackets. This does not indicate a dictionary! Although you can draw analogies as a set being a dictionary with only keys.

# Advanced Sets

# add
add elements to a set. Remember, a set won't duplicate elements; it will only present them once (that's why it's called a set!)

In [19]:
s.add(1)

In [20]:
s.add(2)

In [21]:
s

{1, 2}

We know that a set has only unique entries. So what happens when we try to add something that is already in a set?

In [14]:
s.add(2)
s

{1, 2}

Notice how it won't place another 2 there. That's because a set is only concerned with unique elements!

## clear
removes all elements from the set

In [15]:
s.clear()
s

set()

## copy
returns a copy of the set. Note it is a copy, so changes to the original don't effect the copy.

In [25]:
s = {1,2,3}

In [26]:
sc = s.copy()
sc

{1, 2, 3}

In [27]:
s.add(4)
s

{1, 2, 3, 4}

In [28]:
sc

{1, 2, 3}

## difference
difference returns the difference of two or more sets. The syntax is:

    set1.difference(set2)
For example:

In [29]:
s.difference(sc)

{4}

## difference_update
difference_update syntax is:

    set1.difference_update(set2)
the method returns set1 after removing elements found in set2

In [30]:
s1 = {1,2,3}

In [31]:
s2 = {1,4,5}

In [32]:
s1.difference_update(s2)

In [33]:
s1

{2, 3}

## discard
Removes an element from a set if it is a member. If the element is not a member, do nothing.

In [34]:
s

{1, 2, 3, 4}

In [35]:
s.discard(2)

In [36]:
s

{1, 3, 4}

## intersection
Returns the intersection of two or more sets as a new set (i.e. elements that are common to all of the sets.)

In [21]:
s1 = {1,2,3}

In [22]:
s2 = {1,2,4}

In [23]:
s1.intersection(s2)

{1, 2}

In [24]:
s1

{1, 2, 3}

## intersection_update

intersection_update will update a set with the intersection of itself and another.

In [25]:
s1.intersection_update(s2)

In [26]:
s1

{1, 2}

## isdisjoint
This method will return True if two sets have a null intersection.

In [38]:
s1 = {1,2}
s2 = {1,2,4}
s3 = {5}

In [39]:
s1.isdisjoint(s2)

False

In [40]:
s1.isdisjoint(s3)

True

## issubset
This method reports whether another set contains this set.

In [41]:
s1.issubset(s2)

True

## issuperset
This method will report whether this set contains another set.

In [42]:
s2.issuperset(s1)

True

In [43]:
s1.issuperset(s2)

False

## symmetric_difference
Return the symmetric difference of two sets as a new set.(i.e. all elements that are in exactly one of the sets.)

In [35]:
s1

{1, 2}

In [36]:
s2

{1, 2, 4}

In [37]:
s1.symmetric_difference(s2)

{4}

## symmetric_difference_update

symmetric_difference_update will update a set with the symmetric difference of itself and another.

In [45]:
s1.symmetric_difference_update(s2)

In [46]:
s1

{4}

## union
Returns the union of two sets (i.e. all elements that are in either set.)

In [47]:
s1.union(s2)

{1, 2, 4}

## update
Update a set with the union of itself and others.

In [48]:
s1.update(s2)

In [49]:
s1

{1, 2, 4}