This is your custom Jupyter notebook. You may add more if needed.

## To List

In [17]:
# To convert tuple/set/string to list.
print(list((1,2,1)))
print(list({1,2,1}))
print(list("121")) # The elements stored in the list will be string as well.

[1, 2, 1]
[1, 2]
['1', '2', '1']

## To Tuple

In [18]:
# To convert list/set/string to tuple. Sequence to Sequence. Not Mapping to sequence.
print(tuple([1,2,1]))
print(tuple({1,2,1}))
print(tuple("121")) # The elements stored in the tuple will be string as well.

(1, 2, 1)
(1, 2)
('1', '2', '1')

## To Set

In [19]:
# To convert list/tuple/string to set.
print(set([1,2,1]))
print(set((1,2,1)))
print(set("121")) # The elements stored in the set will be string as well and will be unique.

{1, 2}
{1, 2}
{'1', '2'}

## To String

In [7]:
# To convert list/tuple/set to string.
# Use for loop and add each element to string

# To convert list/tuple/set of strings to combined string.
print(' '.join(['1','2','3']))
print(' '.join({'1','2','3'}))
print(' '.join(('1','2','3')))

1 2 3
2 1 3
1 2 3